body {
    background-color: #edefeb;
    font-family: Arial;
}


.news {
    background-color: #fff;
    border: 1px solid #caccc9;
    width: auto;
    margin: 25px 35px 90px 60px;
    padding: 20px 10px 30px;

}

.news h1 {
    padding: 0;
    margin: 25px 0;
    border-bottom: 1px dotted #832b5b;
    font-weight: 500;
}


.news a {
    color: #0006f2;
}

.listNews, .detail {
    padding: 0;
    margin: 10px auto;
    border-bottom: 1px dotted #832b5b;
}

.listNews li {
    list-style-type: none;
    margin: 15px auto;
}

.listNews p {
    margin: 3px auto;
}

.listNews span {
    color: #fff;
    background-color: #832b5b;
    padding: 3px;
    margin-right: 5px;
}

.nav p {
    margin: 10px auto 10px auto;
    font-weight: 600;
}

.nav ul {
    padding: 0;
    overflow: auto;
    margin: 0px;
}

.nav li {

    background-color: #edefeb;
    border: 1px solid #caccc9;
    float: left;
    list-style-type: none;
    text-align: center;
    margin: 2px;
    height: 16px;
    width: 32px;
}

.nav a {
    font-size: 12px;
    vertical-align: middle;
    display: block;
    padding-top: 1px;
    height: 15px;
    color: #000;
    text-decoration: none;
}

.nav li.active a,
.nav a:hover {
    color: #fff;
    background-color: #832b5b;
    border-color: #caccc9;
}